<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./templates/head.ejs %>
</head>

<body>

<% include ./templates/header.ejs %>

<!-- Insert Body here -->
<div class="conteudo">

    <div class="container">
        <%- body %>
        <% include /menulateral.ejs %>
    </div>
</div><!-- /.container -->

<% include ./templates/footer.ejs %>

</body>
</html>