<% layout('layout') -%>


<!-- Conteúdo do Blog -->
<div class="content-left">


    <!-- Inicio Lista de Noticias Vazio  -->
    <div class="sec_1">
        <div class="sec_1 grids">
            <div class="post6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/img-not-found.png" class="img-responsive post6-pic-img" alt="">
                    </div>

                    <div class="col-md-6 post6-pic-info post6-pic-vazio">

                        <h1>Sua busca não retornou resultados</h1>
                        <div class="bnr-info">
                            <a href="/">Limpar pesquisa</a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <br/>
        </div>
    </div>
    <!-- Fim Post 1 -->

</div>
<!-- Fim Conteúdo do Blog -->



